
body {
  background-color: $body_background-color;
  background-image: url("../images/background.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.5;
  font-size: 1em;
  margin : 0 auto;
  color: $body_color;
}
