.contenu {
  margin: 0 auto;
  max-width: 70em;
  background-color: white;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.contenu .boutonArrondi {
  color: #BC3336;
  border: 1px solid #BC3336;
  border-radius: 290486px;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

.contenu .boutonArrondi:hover {
  background:  #BC3336;
  color: white;
}

.titreContenu {
  color: #333;
  font-size: 1.5em;
  font-weight: bold;
}


fieldset {
  background:  white;
  padding: 1em;
  border: 2px solid #e81c4f;
}
