.contenu {
  margin: 0 auto;
  max-width: 70em;
  background-color: $white;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 30px;

  .boutonArrondi {
    color: $bordeau;
    border: 1px solid $bordeau;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;

    &:hover {
      background:  $bordeau;
      color: $white;
    }
  }

  .titreContenu {
    color: $darkGrey;
    font-size: 1.5em;
    font-weight: bold;
  }

  fieldset {
    background:  $white;
    padding: 1em;
    border: 2px solid $bordeau;
  }

  h3 {
    color: $darkGrey;
  }

  hr {
    border: 1px solid $bordeau;
  }

}
