#logo {
  height:80px;
}

#logo:hover {
  background-color: #a82b2e;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#logo a {
  display:block;
  padding:10px;
  text-transform: uppercase;
  font-family: Armata;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  opacity: 1;
}
