@import 'https://fonts.googleapis.com/css?family=Armata';

html {
}


body {


  background-color: #f5f7f9;
  background-image: url("../images/background.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;



  font-family: "Helvetica", "Arial", sans-serif;

  line-height: 1.5;
  margin : 0 auto;
  color: #555;


}

h1, h2, h3, strong {
  color: #333;
}

fieldset {
  background:  white;
  padding: 1em;
  border: 2px solid #e81c4f;
}

hr {
  border: 1px solid #e81c4f;
}
/*
a {
  color: #e81c4f;
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

a:hover {
  background:  #e81c4f;
  color: white;
}
*/

#header {
  position: fixed;
  width: 100%;
  background-color: #BC3336;
  height: 30px;
  top:0px;
  padding: 10px;
  z-index:1;
}

#logo {
  float: left;
  margin: 0 auto;
}

#logo a {
  text-transform: uppercase;
  font-family: Armata;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

#navbar {
  float: right;

}

#navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0 auto;
}

#navbar ul li {
  padding-left: 20px;
  float:left;
}
#navbar ul li a {
    text-transform: uppercase;
    font-family: Armata;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
    line-height: 30px;
}

#navbar ul li a:hover {

    opacity: 1;
}

#container {
  z-index:0;
  margin: 0 auto;
  margin-top:60px;
  max-width: 70em;
  background-color: white;
  opacity:0.97;
  padding: 10px;
  border-radius: 10px;
}

#contenu {
  margin: 0 auto;
}
