html {
}


body {


  background-color: #f5f7f9;
  background-image: url("../images/background.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;




  margin: 0 auto;
  max-width: 50em;


  font-family: "Helvetica", "Arial", sans-serif;

  line-height: 1.5;
  padding: 4em 1em;

  color: #555;

}

h1, h2, h3, strong {
  color: #333;
}

fieldset {
  background: ##F5F7F9;
  padding: 1em;
  border: 2px solid #69c;
}

a {
  color: #e81c4f;
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

a:hover {
  background:  #e81c4f;
  color: white;
}

#navbar {
  margin-bottom: 5em;
}

#navbar table {
  margin: 0 auto;
}

#titre {
  margin: 0 auto;
}

a.nom {
  background:  #e81c4f;
  color: white;
  font-size: 3em;
}

a:hover {
  background:  #e81c4f;
  color: white;
}
